<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('Create Account')}"></head>
<body>



<main class="container">
    <h1>Register</h1>

    <form th:action="@{/register}" th:object="${form}" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}"
               autocomplete="email" required>
        <p class="error" th:if="${#fields.hasErrors('email')}"
           th:errors="*{email}"></p>

        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}"
               autocomplete="new-password" required>
        <p class="error" th:if="${#fields.hasErrors('password')}"
           th:errors="*{password}"></p>

        <button type="submit">Create account</button>
    </form>

    <br/>
    <br/>
    <h3>Have an Account? <a th:href="@{/login}">Sign In</a></h3>

</main>

</body>
</html>